node_modules
.next
package
*.tar.gz
*.tgz
*.log
*.pid
.env
.env.*
.git
.gitignore
.DS_Store
tsconfig.tsbuildinfo
coverage
.nyc_output
.cache
.eslintcache
.idea
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.swp
*.swo
*.tmp
