go 1.21

use (
	./app-api
	./common
	./contract
	./delivery-api
	./manager-api
	./service
	./galaxy-api
	./galaxy-api/adapters/core
	./galaxy-api/adapters/delivery
	./galaxy-api/adapters/relay
	./galaxy-api/adapters/videofarm
	./web-api
)
